



body
{
    
}

.container
{
    color: darkblue;
    margin: 1px;
    
}
#row1 
{ 
    color: black;
    
    background: lightgrey;
}
#row2
{
    color: blue;
    
    background: lightgrey;
}
.column1
{
background: plum;
display: inline-flex;

}
.column2
{
    background: lightsalmon;

}
h1
{
    color: crimson;
}